@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
} 
#banner h1 {
  font-size: 4em;
}
#banner h2 {
  font-size: 2em;
  margin: 10px 0;
}
#banner .icon-arrow, .icon-dash {
  font-size: 50px;
}
#banner h3 {
  font-size: 25px;
  margin-top: 8px;
  text-decoration: underline;
  cursor: pointer;
}

#about {
  min-height: 80vh;
}

#about h3 {
  font-size: 35px;
}

#about h4 {
  font-size: 20px;
}
#about p {
  font-size: 18px;
}

#portfolio .portfolio-image{
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.151);
}

#portfolio h3 {
  font-size: 30px;
}
#portfolio h5 {
  font-weight: bold;
  margin-bottom: 5px;
}

#portfolio .description{
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.151);
  background-color: white;
  padding: 20px;
}